@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');

body {    
    background:url(785883.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    position: fixed; 
    margin: 0;
    left: 0;   
    right: 0;
    top: 0;
    bottom: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    
}
.headbar {

    padding: 10px;
    background-color: #1d0e0e;
    color: white;
    font-family: Ubuntu;
}
.date{
    margin-left: 40%;
    color: white;
    display: inline;
    cursor: pointer;
    font-weight:bold;
}
.date :hover{
    background-color: rgb(48, 41, 41);
}
.applications{
    float: left;
    
    display: inline;
}
.controls{
    padding-right: 20px;
    float: right;
    display: inline;
    position:relative;
}
#snake{
    bottom: 0%;
    position: fixed;
}
#desktop{
    height: 100%;
    width: 100%;
}
#controls{
    cursor: pointer;
}
.bottom-bar{
    position: fixed;
    left: 50%;
    bottom: 0;
    background-color: rgb(41, 41, 31);
    border-radius: 10px;
    transform: translate(-50%, 0%);
    
}
.bottom-bar * {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform .2s;
    height: 30px;
    width: 30px;
}
.bottom-bar *:hover {
    transform: scale(1.5);
}

.light{
    -webkit-text-stroke: 2px white;

}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#screenshot{
    margin-left: 20px;
}
#info  {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border:  2px;
    border-radius: 2px;
}
