@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');

body {    
    background:url(../images/wallpaper/cat.jpg) no-repeat center center fixed;
    overflow: hidden;
    position: fixed; 
    margin: 0;
    left: 0;   
    right: 0;
    height: 100vh;
    top: 0;
    bottom: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
    
}
.headbar {

    padding: 10px;
    background-color: #1d0e0e;
    color: white;
    font-family: Ubuntu;
}
.date{
    margin-left: 40%;
    color: white;
    display: inline;
    cursor: pointer;
    font-weight:bold;
}
.date :hover{
    background-color: rgb(48, 41, 41);
}
.applications{
    float: left;
    
    display: inline;
}
.controls{
    padding-right: 20px;
    float: right;
    display: inline;
    position:relative;
}
#snake{
    bottom: 0%;
    position: fixed;
}
#desktop{
    height: 100%;
    width: 100%;
}
#controls{
    cursor: pointer;
}
.bottom-bar{
    position: fixed;
    left: 50%;
    width: auto;
    bottom: 0;
    background-color: rgb(41, 41, 31);
    border-radius: 10px;
    transform: translate(-50%, 0%);
    
}
.bottom-bar * {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform .2s;
    height: 30px;
    width: 30px;
}

.icons * {
    padding-left: 10px;
    padding-right: 10px;
    transition: transform .2s;
    height: 40px;
    width: 40px;
    
}
.icons {
    padding: 10px; /* Adjust the padding as needed */
    display: flex;
    flex-direction: column; /* Display icons in a column */
    margin-top: 20px;
    position: relative;
}


.icon-binder {
    display: inline-block; /* Ensure icons are displayed in a row */
    text-align: center; /* Center icon and label */
    padding-bottom: 70px;
   
}
.icon-binder img{
    height: 60px;
    width: 60px;
    
   
}


.icon-label {
    color: #ffffff;
    margin-top: 1px; /* Adjust the spacing between icon and label */
}


.bottom-bar *:hover {
    transform: scale(1.5);
}

.light{
    -webkit-text-stroke: 2px white;

}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#screenshot{
    margin-left: 20px;
}
#info  {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border:  2px;
    border-radius: 2px;
}
#userin{
    border: none;
    background:none;
    color: azure;
}
#userin:focus{
    border: none;
    outline: none;
    caret-color: azure;
    background: none;
    color: azure;
    
    
}
.social-btn {
    background: #a1bed1;
    background-image: -webkit-linear-gradient(top, #a1bed1, #2980b9);
    background-image: -moz-linear-gradient(top, #a1bed1, #2980b9);
    background-image: -ms-linear-gradient(top, #a1bed1, #2980b9);
    background-image: -o-linear-gradient(top, #a1bed1, #2980b9);
    background-image: linear-gradient(to bottom, #a1bed1, #2980b9);
    -webkit-border-radius: 39;
    -moz-border-radius: 39;
    border-radius: 39px;
    font-family: monospace;
    margin-top: 5px;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .social-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
#userin-old{
    border: none;
    outline: none;
    background: none;
    color: azure;
}
.terminal{
    font-family: monospace;
    align-items: stretch;
    color: azure;
}
#prompt{
    color: #4D9608;
    text-decoration: solid;
    
}
.terminal .wb-body{
    background-color: #333333;
}
.wb-title{
    justify-self: center;
}
.camera-image{
    display: inline-block;
}
#canvas{
    height: 200px;
    width: 200px;
}

#pdf{
    height: 100%;
    width: 100%;
}
.pdf{
    height: 100%;
    width: 100%;
}
#help-icon{
    cursor: pointer;
}
.cal-today{
    border: #2980b9;
    border-radius: 3px;
    background-color: #a1bed1;
}
.last-month{
    color:rgb(17, 95, 95);
}
.next-month{
    color:darkcyan;
}
.this-month{
    font-weight: bold;
}

tr td:first-child{
    background-color: rgba(156, 68, 68, 0.664);
}
tr td:last-child{
    background-color: rgba(156, 68, 68, 0.664);
}
#cal-month-year{
    border: #1d0e0e;
    display:inline-block;
    align-self: center;
    text-align: center;
}
#calendar{
    display: inline-block;
    border-style:solid;
    
}
.cal-title{
    display: inline-block;
    align-self: center;
    text-align: center;
    align-items: center;
    
}
.cal-btn{
    background-color:transparent;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}